.nav_bg{
	background: url(../image/nav_bg.png);
	width: 100%;
	
}
.navbar-header{
	margin-top: 50px;
}
.margin_lr{
	margin-left:25%;
	margin-right: 5%;
	
}
.collapse #ul  li a{
	color: #fffef9;
	font-size: 16px;
	font-weight: 700;
}
.collapse #ul .active a{
	background-color: #afb4db;
	color:#7bd2db;
}


.collapse #ul li:hover a{
	color:#7bd2db;
}
.cc{
	margin-top: 50px;
	
}
