<style type="text" id="imgAdd">

	<div class="panel panel-primary imgAdd">
		<div class="panel-heading">增加图片</div>
		<form class="form-horizontal" action="/upfiles" method="post" target="formsub" enctype="multipart/form-data">
			<div class="form-group ">
				<label class="col-md-2 control-label"></label>
				<div class="col-md-10 errorinfo">
   
				</div>

			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">选择图片:</label>
				<div class="col-md-10">
					<input id="fileupload" type="file" required="" multiple placeholder="选择图片" name="upfile[]" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<button type="submit" class="btn btn-primary btn-block addbtn">增加</button>
				</div>
			</div>

		</form>
		<iframe name="formsub" style="display:none"></iframe>
	</div>
	<script type="text/javascript">
	$(function(){
		$("#fileupload").on("change",function(){
			var files=$(this).get(0).files;
			for(var i=0;i<files.length;i++){
				var file=files.item(i);
				var read=new FileReader();
				read.readAsDataURL(file);
				read.onload=function(e){
					$(".imgAdd").append("<img src='"+this.result+"' style='width:200px;height:200px ;' />")
				}
			}
			
			
		});
		
		
		 $(".imgAdd .form-horizontal ").on("submit",function(event){
		 	var files=document.getElementById("fileupload").files;
		 	var reg=/^image\//;
		 	for(var i=0;i<files.length;i++){
		 		var file=files.item(i);
		 		if(reg.test(file.type)==false){
		 			$(".imgAdd .errorinfo").alert("warning","只能上传图片！",2);
		 			event.preventDefault();
		 			return;
		 		}
		 		if(file.size>1024*1024){
		 			$(".imgAdd .errorinfo").alert("warning","上传图片必须小于1M！",2);
		 			event.preventDefault();
		 			return;
		 		}
		 	}
		 	
		 });
	})
	
	function upfileSuccess(urls){
		$(".imgAdd .errorinfo").html(urls);	
	}
	</script>
</style>
